@page
@model CRUD_Razor_2_1.IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Book list</h2>
<br />

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <div> Books Available! </div>
}
else
{
    <div>No books in the Database</div>
}